body {
    font-family: Arial, sans-serif;
    background-color: blue
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color:wheat;
    padding: 20px;
   
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color:orange;
}


.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.profile-picture img:hover {
    transform: scale(1.05);
}


.education, .interests {
    text-align: center;
    margin: 20px 0;
    color:darkred;

}

.education h2, .interests h2 {
    font-size: 1.8em;
    color: #555;
    color:green;
}

.education p, .interests ul {
    font-size: 1.2em;
    color: #666;
}


.interests ul {
    list-style-type: none;
    padding: 0;
}

.interests li {
    margin: 10px 0;
}


footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: red;
}


@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    header h1 {
        font-size: 2em;
    }

    .profile-picture img {
        width: 120px;
        height: 120px;
    }

    .education h2, .interests h2 {
        font-size: 1.5em;
    }

    .education p, .interests ul {
        font-size: 1em;
    }
}
